*
{
  box-sizing:border-box;
}


html
{
  font-size: 30px;
}   

#myVideo 
{
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
 
  #school 
  {
    width: 100vw;
    padding: 20px;
  }

  #aboutMe 
  {
    width: 100vw;
    padding: 20px;
  }
  
  

#KyleRigler
{
  position: relative;
  max-height: 25%;
  max-width: 25%;
  border-radius: 50%;
}
body
{
  max-width: 100vw;
  text-align: center;
  color: white;
  margin : 0px; 

}
.resume
{
  position: fixed;
  top: 30px;
 
  left: 0;
  width: 250px;
  height: 120px;
   border: 8px solid #ffffff; 
  scroll-snap-stop: 2;
}
.contacts
{
 position:relative;
 
}
.Certificate
{
  position: fixed;
  top: 30px;
 
  right: 0;
  width: 250px;
  height: 120px;
  border: 8px solid #ffffff; 
  scroll-snap-stop: 2;
}



@media (max-width: 800px) 
{
 html{ font-size: 15px;}
}

@media (max-width:800px) 
{
 .resume
 {
  border: 10px solid white;
  position: relative;
  text-align: center;
  font-size: large;
} 
}
@media (max-width:800px) 
{
 .Certificate
 {
  border: 10px solid white;
  position: relative;
  text-align: center;
  font-size: large;
} 
}
/* @media(max-width:300px)
{
   #kyleRigler
  {
    position: relative;
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
  }
} */

