*
{
  box-sizing:border-box;
}

.projects
{
  background-color: rgb(66, 44, 66);
}
.navbar
{
 background-color: rgb(66, 44, 66);
 text-align: center;
 height: 50px;
  vertical-align:center;
  line-height: 50px;
 
}



html
{
  font-size: 30px;
  scroll-behavior: smooth;
}
html, body 
{
  
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgba(31, 15, 29, 0.6);
 
}   

#myVideo 
{
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
   background-color:rgb(rgb(182, 109, 1), green, blue);
  }
  .iframe
  {
    
    
    margin: 20px;
    width: auto;
    height: 800px;
    overflow: hidden;
    
  }
  
 
  #school 
  {
    width: 100vw;
    padding: 20px;
  }

  #aboutMe 
  {
    width: 100vw;
    padding: 20px;
  }
  
#KyleRigler
{
  position: relative;
  max-height: 25%;
  max-width: 25%;
  border-radius: 301px;
  animation-name: zoom;
  animation-duration: 4s;
}
body
{
  max-width: 100vw;
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 0px;
}
.resume
{
  position: fixed;
  top: 50px;
  left: 0;
  width: 250px;
  height: 120px;
  border: 5px solid #ffffff; 
  margin-left: 10px;
}
.contacts
{
  text-align: center;
  margin-left: -40PX;
}
.Certificate
{
  position: fixed;
  top: 50px;
  right: 0;
  width: 250px;
  height: 120px;
  border: 5px solid #ffffff; 
  margin-right: 10px;
  scroll-snap-align: end;
}
.projects
{
  display: flex;
  justify-content:space-around;
}
.ProjectsLeft
{
  flex:1;
  text-align: center;
  max-width: 50vw;
  margin-right: 10px;
  
}
.ProjectsRight
{
  flex:1;
  text-align: center;
  max-width: 50vw;
  margin-left: 10px;
}
#carwash
{
 max-width: 600px;
}
#mvcflashcards
{
  max-width: 600px;
}
@media(max-width:1200px)
{
  #carwash {max-width: 175px;}
}
@media(max-width:1200px)
{
  #mvcflashcards {max-width: 175px;}
}

@media (max-width: 800px) 
{
 html{ font-size: 15px;}
}

@media (max-width:800px) 
{
 .resume
 {
  border: 7px solid white;
  position: relative;
  text-align: center;
  font-size: large;
  margin: auto;
  margin-bottom: 11px;
 

} 
}
@media (max-width:800px) 
{
 .Certificate
 {
  border: 7px solid white;
  position: relative;
  text-align: center;
  font-size: large;
  
  margin: auto;
  margin-bottom: 50px;
  
} 
}
@media (max-width:800px)
{
  .iframe
  {
    height: auto;
    width:auto;
    resize: both;
  }
}
@keyframes zoom 
{
  from {transform: scale(-1)}
  to {transform: scale(1)}
  
}

.Title
{
 color-scheme: black;
}
a:link {
  color: rgb(250, 253, 251);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

